---
import BaseLayout from "../layouts/BaseLayout/BaseLayout.astro";
import { default as NovaButton } from "../components/Buttons/Button/Button.astro";

const sizes = ["2xs", "xs", "sm", "md", "lg", "xl", "2xl"];

const variants = ["solid", "subtle", "surface", "outline", "ghost", "plain"];

const colorPalettes = [
  "slate", "gray", "zinc", "neutral", "stone", "red", "orange", "amber", "yellow", "lime", "green",
  "emerald", "teal", "cyan", "sky", "blue", "indigo", "violet", "purple", "fuchsia", "pink", "rose",
];
---

<BaseLayout>
  <div class="p-16 space-y-6">
    <h1 class="text-2xl font-bold">Button</h1>

    <div>
      <NovaButton>Button</NovaButton>
    </div>

    <div class="flex flex-row gap-6">
      {sizes.map((size) => (
        <div class="flex flex-col items-center">
          <NovaButton size={size}>
            Button ({size})
          </NovaButton>
        </div>
      ))}
    </div>

    <div class="flex flex-row gap-6">
      {variants.map((variant) => (
        <div class="flex flex-col items-center">
          <NovaButton variant={variant}>
            {`${variant[0].toUpperCase()}${variant.slice(1)}`}
          </NovaButton>
        </div>
      ))}
    </div>

    <div class="flex flex-row gap-6">
      <NovaButton colorPalette="teal" variant="solid">
        [] Email
      </NovaButton>
      <NovaButton colorPalette="teal" variant="outline">
        Call us []
      </NovaButton>
    </div>

    <div class="flex flex-col gap-6">
      {colorPalettes.map((colorPalette) => (
        <div class="flex flex-row gap-6">
          <p class="min-w-[8ch]">{colorPalette}</p>
          <NovaButton colorPalette={colorPalette}>Button</NovaButton>
          <NovaButton colorPalette={colorPalette} variant="outline">
            Button
          </NovaButton>
          <NovaButton colorPalette={colorPalette} variant="surface">
            Button
          </NovaButton>
          <NovaButton colorPalette={colorPalette} variant="subtle">
            Button
          </NovaButton>
        </div>
      ))}
    </div>

    <div>
      <NovaButton disabled>Button</NovaButton>
    </div>

    <div class="flex flex-row gap-6">
      <NovaButton loading>Click me</NovaButton>
      <NovaButton loading loadingText="Saving...">
        Click me
      </NovaButton>
    </div>
  </div>
</BaseLayout>
