---
import "../styles/global.css";

import Link from "../components/Typography/Link/Link.astro";
import Button from "../components/Buttons/Button/Button.astro";

const colorPalettes = ["slate", "gray", "zinc", "neutral", "stone", "red", "orange", "amber",
  "yellow", "lime", "green", "emerald", "teal", "cyan", "sky", "blue",
  "indigo", "violet", "purple", "fuchsia", "pink", "rose"];
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>Astro</title>
</head>
<body>
  <div class="p-16 space-y-6">
    <h1 class="text-2xl font-bold">Link</h1>

    <div>
      <Link href="#">Visit Chakra UI</Link>
    </div>

    <div>
      <Link variant="underline" href="#">
        Link (Underline)
      </Link>
    </div>

    <div>
      <Link variant="plain" href="#">
        Link (Plain)
      </Link>
    </div>

    <div>
      <p>
        Visit the{" "}
        <Link
          href="https://chakra-ui.com"
          variant="underline"
          colorPalette="teal"
        >
          Chakra UI
        </Link>
        {" "}
        website
      </p>
    </div>

    <div>
      <Link href="#" as="p" colorPalette="purple">
        Visit Chakra UI []
      </Link>
    </div>
  </div>

  <div class="p-16 space-y-6">
    <h1 class="text-2xl font-bold">Button</h1>

    <div>
      <Button>Button</Button>
    </div>

    <div class="flex flex-row gap-6">
      <Button size="xs">Button (xs)</Button>
      <Button size="sm">Button (sm)</Button>
      <Button size="md">Button (md)</Button>
      <Button size="lg">Button (lg)</Button>
      <Button size="xl">Button (xl)</Button>
    </div>

    <div class="flex flex-row gap-6">
      <Button variant="solid">Solid</Button>
      <Button variant="subtle">Subtle</Button>
      <Button variant="surface">Surface</Button>
      <Button variant="outline">Outline</Button>
      <Button variant="ghost">Ghost</Button>
      <Button variant="plain">Plain</Button>
    </div>

    <div class="flex flex-row gap-6">
      <Button colorPalette="teal" variant="solid">
        [] Email
      </Button>
      <Button colorPalette="teal" variant="outline">
        Call us []
      </Button>
    </div>

    <div class="flex flex-col gap-6">
      {colorPalettes.map((colorPalette) => (
        <div class="flex flex-row gap-6">
          <p class="min-w-[8ch]">{colorPalette}</p>
          <Button colorPalette={colorPalette}>Button</Button>
          <Button colorPalette={colorPalette} variant="outline">
            Button
          </Button>
          <Button colorPalette={colorPalette} variant="surface">
            Button
          </Button>
          <Button colorPalette={colorPalette} variant="subtle">
            Button
          </Button>
        </div>
      ))}
    </div>

    <div>
      <Button disabled>Button</Button>
    </div>

    <div class="flex flex-row gap-6">
      <Button loading>Click me</Button>
      <Button loading loadingText="Saving...">
        Click me
      </Button>
    </div>
  </div>
</body>
</html>
