---
import BaseLayout from "../layouts/BaseLayout/BaseLayout.astro";

import HamburgerButton from "../components/Buttons/HamburgerButton/HamburgerButton.astro";
import Text from "../components/Typography/Text/Text.astro";

const sizes = ["2xs", "xs", "sm", "md", "lg", "xl", "2xl"];

const variants = ["solid", "subtle", "surface", "outline", "ghost", "plain"];

const colorPalettes = [
  "slate", "gray", "zinc", "neutral", "stone", "red", "orange", "amber", "yellow", "lime", "green",
  "emerald", "teal", "cyan", "sky", "blue", "indigo", "violet", "purple", "fuchsia", "pink", "rose",
];
---

<BaseLayout>
  <div class="p-16 space-y-6">
    <h1 class="text-2xl font-bold">Hamburger Button</h1>

    <div>
      <HamburgerButton />
    </div>

    <div>
      <h2 class="text-xl font-bold mb-2">Sizes</h2>
      <div class="flex flex-row gap-6 items-end">
        {sizes.map((size) => (
          <div class="flex flex-col items-center">
            <HamburgerButton variant="outline" {size} />
            <Text size="xs">{size}</Text>
          </div>
        ))}
      </div>
    </div>

    <div>
      <h2 class="text-xl font-bold mb-2">Variants</h2>
      <div class="flex flex-row gap-6">
        {variants.map((variant) => (
          <div class="flex flex-col items-center">
            <HamburgerButton {variant} />
            <Text size="xs">{`${variant[0].toUpperCase()}${variant.slice(1)}`}</Text>
          </div>
        ))}
      </div>
    </div>

    <div>
      <h2 class="text-xl font-bold mb-2">Colors</h2>
      <div class="flex flex-row gap-6">
        {colorPalettes.map((colorPalette) => (
          <div class="flex flex-col items-center">
            <HamburgerButton {colorPalette} />
            <p>{`${colorPalette[0].toUpperCase()}${colorPalette.slice(1)}`}</p>
          </div>
        ))}
      </div>
    </div>

    <div>
      <h2 class="text-xl font-bold mb-2">Custom icon</h2>
      <HamburgerButton variant="ghost" aria-label="Open">[]</HamburgerButton>
    </div>
  </div>
</BaseLayout>
