---
import BaseLayout from "../layouts/BaseLayout/BaseLayout.astro";
import IconButton from "../components/Buttons/IconButton/IconButton.astro";

const sizes = ["2xs", "xs", "sm", "md", "lg", "xl", "2xl"];

const variants = ["solid", "subtle", "surface", "outline", "ghost", "plain"];

const colorPalettes = [
  "slate", "gray", "zinc", "neutral", "stone", "red", "orange", "amber", "yellow", "lime", "green",
  "emerald", "teal", "cyan", "sky", "blue", "indigo", "violet", "purple", "fuchsia", "pink", "rose",
];
---

<BaseLayout>
  <div class="p-16 space-y-6">
    <h1 class="text-2xl font-bold">Icon Button</h1>

    <div>
      <IconButton aria-label="Search database">[]</IconButton>
    </div>

    <div>
      <h2 class="text-xl font-bold mb-2">Sizes</h2>
      <div class="flex flex-row gap-6 items-end">
        {sizes.map((size) => (
          <div class="flex flex-col items-center">
            <IconButton aria-label="Search database" variant="outline" {size}>[]</IconButton>
            <p>{size}</p>
          </div>
        ))}
      </div>
    </div>

    <div>
      <h2 class="text-xl font-bold mb-2">Variants</h2>
      <div class="flex flex-row gap-6">
        {variants.map((variant) => (
          <div class="flex flex-col items-center">
            <IconButton aria-label="Call support" {variant}>[]</IconButton>
            <p>{`${variant[0].toUpperCase()}${variant.slice(1)}`}</p>
          </div>
        ))}
      </div>
    </div>

    <div>
      <h2 class="text-xl font-bold mb-2">Colors</h2>
      <div class="flex flex-row gap-6">
        {colorPalettes.map((colorPalette) => (
          <div class="flex flex-col items-center">
            <IconButton aria-label="Call support" {colorPalette}>[]</IconButton>
            <p>{`${colorPalette[0].toUpperCase()}${colorPalette.slice(1)}`}</p>
          </div>
        ))}
      </div>
    </div>

    <div>
      <h2 class="text-xl font-bold mb-2">Rounded</h2>
      <IconButton aria-label="Call support" class="rounded-full">[]</IconButton>
    </div>
  </div>
</BaseLayout>
