---
// ===== Components
import BaseLayout from "../layouts/BaseLayout/BaseLayout.astro";
import Heading from "../components/Typography/Heading/Heading.astro";
import CloseButton from "../components/Buttons/CloseButton/CloseButton.astro";

// ===== Props
const sizes = ["2xs", "xs", "sm", "md", "lg", "xl", "2xl"];

const variants = ["solid", "subtle", "surface", "outline", "ghost", "plain"];

const colorPalettes = [
  "slate", "gray", "zinc", "neutral", "stone", "red", "orange", "amber", "yellow", "lime", "green",
  "emerald", "teal", "cyan", "sky", "blue", "indigo", "violet", "purple", "fuchsia", "pink", "rose",
];
---

<BaseLayout>
  <div class="p-16 space-y-6">
    <Heading as="h1" size="2xl">Close Button</Heading>

    <div>
      <CloseButton />
    </div>

    <div>
      <Heading class="mb-2">Sizes</Heading>
      <div class="flex flex-row gap-6 items-end">
        {sizes.map((size) => (
          <div class="flex flex-col items-center">
            <CloseButton variant="outline" {size} />
            <p>{size}</p>
          </div>
        ))}
      </div>
    </div>

    <div>
      <Heading class="mb-2">Variants</Heading>
      <div class="flex flex-row gap-6">
        {variants.map((variant) => (
          <div class="flex flex-col items-center">
            <CloseButton {variant} />
            <p>{`${variant[0].toUpperCase()}${variant.slice(1)}`}</p>
          </div>
        ))}
      </div>
    </div>

    <div>
      <Heading class="mb-2">Colors</Heading>
      <div class="flex flex-row gap-6">
        {colorPalettes.map((colorPalette) => (
          <div class="flex flex-col items-center">
            <CloseButton {colorPalette} />
            <p>{`${colorPalette[0].toUpperCase()}${colorPalette.slice(1)}`}</p>
          </div>
        ))}
      </div>
    </div>

    <div>
      <Heading class="mb-2">Custom icon</Heading>
      <CloseButton variant="ghost" aria-label="Close">[]</CloseButton>
    </div>
  </div>
</BaseLayout>
